@font-face {
  font-family: "Lab";
  font-style: normal;
  font-weight: 400;
  src: url("https://uploads.codesandbox.io/uploads/user/30401044-96c7-4e89-89bc-819f6f7fc399/w9cX-Lab%20Light.ttf"); /* IE9 Compat Modes */
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: white;
}

body {
  background: black;
}

h1 {
  font-family: Lab;
  font-size: 50px;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-90deg, #f10505, #000000, #000000, #ff5e00);
  background-size: 500% 500%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.text {
  padding: 0px 100px;
  text-align: center;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card {
  width: 280px;
  display: block;
  margin: 60px auto;
  transition: 0.25s;

  color: white;
}
.card:hover {
  cursor: pointer;
}
.card:hover .button-primary {
  transform: translate(10px, 0);
}

.card-header {
  height: 150px;
  width: 100%;
  padding: 15px;
  width: 100%;
  background-size: cover;
  color: rgba(17, 17, 17, 0.473);
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  background-color: rgba(49, 49, 49, 0.363);
  width: 100%;
}

.date {
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
}

body,
html {
  overflow-x: hidden;
}

.app-card-list {
  display: inline-block;
  width: 100%;
  /* float: ce; */
  margin: 0;
  min-height: 75vh;
  white-space: normal;
  overflow-x: scroll;
}
.app-card-list::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .app-card-list {
    width: 80%;
    white-space: nowrap;
    margin-top: 0;
  }
}
.app-card-list .card {
  margin: 60px 30px;
  display: inline-block;
}
.app-card-list .card .card-body {
  white-space: normal;
}

.designer-link {
  display: inline-block;
  padding-top: 40px;
}
